img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.image-container {
  max-width: 100px;
  margin: 0 auto;
  padding: 10px;
}

@media (min-width: 768px) {
  .image-container {
    max-width: 200px;
  }
}

@media (min-width: 1024px) {
  .image-container {
    max-width: 200px;
  }
}
